body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

ul, p {
  font-size: 20px;
}

a:visited {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dark_scheme {
  background-color: #043789;
  color: white;
}

.light_scheme {
  background-color: #83ef8b;
  color: #7c1713;
}
